html {
    scroll-behavior: smooth;
}

body  {
    background-color: #fdf5e6;
    font-family: 'Ubuntu';
    color: #16334A;
}

h1 {
    text-align: center;
    font-size: 60px;
    /* color: #16334A; */
    font-weight: bold;
}

.navbar-default {
    background: none;
}


#home-back {
    background: url("../images/temp_background.jpg") no-repeat center center;
    /* background-color: teal; */
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: table-cell;
    vertical-align: middle;
}
h2  {
    font-size: 24px;
}

.typing {
    /* min-width: 250px; */
    font-family: 'Oswald';
    max-width: 400px;
    height: auto;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgba(123, 123, 123, 0.1);
    border-radius: 10px;
    padding: 5px;
}

#typingAnimation {
    color: #fdf5e6;
}

#typed-cursor {
    opacity: 1;
    color: #16334A;
    font-weight: 100;
    animation: blink 0.9s infinite;
}
  
@keyframes blink {
    0% {
    opacity: 1;
    }

    50% {
    opacity: 0;
    }

    100% {
    opacity: 1;
    }
}
  
.resume-home {
    text-align: center;
    padding-top: 10px;
    /* border: 2px solid black */

}

/* .contact-icon {
    width: 10px;
    padding-right: 25px;
} */

.logos {
    font-size: 30px;
    padding-top: 10px;
    text-align: center;
}
.logos a, .logos a:link, .logos a:visited{
    color:#16334A;
}
.logos a:active {
    color:#565d61;
}

/* .content {
    padding-top: 20px;
    padding-bottom: 40px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    line-height: 30px;
} */

.about {
    padding-top: 70px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;

}
.about .row .headshot {
    text-align: center;
}

#about-card {
    background-color: hsl(10, 6%, 20%);
    color: white;
    /* font-family: 'Oswald' ; */
    font-size: 12px;
    border: 0;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}
#about-card .card-header {
    background-color: #D8D8D8;
    padding: .4rem 1.25rem;
    /* border:1px solid #D8D8D8; */
}
.about-question {
    font-size: 15.5px;
}
.about-answer {
    color: #F9E5D4;
    font-size: 15.5px;
    padding-left: 20px;
}




.headshot {
    /* padding-right:20px; */
    padding-bottom: 20px;
}
.headshot img {
    border-radius: 50%;
    max-width: 250px;
    border: 2px solid white;
    margin-left: auto;
    margin-right: auto;
    
}


.projects {
    padding-top: 50px;
    
}


/* .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: #F9CAA5  ;
} */
/* .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
} */
.card-title {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

img {
    width:450px;
    height:250px;
}

.project-card{
    margin-top:20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: #F9CAA5  ;
    
}
.project-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}
.project-card .card-img-block {
    width: 91%;
    margin: 0 auto;
    position: relative;
    top: -20px;
    
}
.project-card .card-img-block img{
    border-radius:5px;
    box-shadow:0 0 10px rgba(0,0,0,0.63);
}
.project-card h5{
    font-weight:600;
}
.project-card p{
    font-size:14px;
    font-weight:300;
}

.project-icons {
    font-size: 20px;
    text-align: center;
}
.project-icons a, .project-icons a:link, .project-icons a:visited{
    color:#16334A;
}
.project-icons a:active {
    color:#565d61;
}


.contact {
    padding-top: 50px;
    font-size: 20px;

    /* added to make full screen */
    /* margin-left: auto;
    margin-right: auto;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: table-cell;
    vertical-align: middle; */
}

.contact-icon {
    width: 10px;
    padding-right: 25px;
}

.footer {
    color: #fdf5e6;
    text-align: center;
    background-color: #16334A;
    font-size: 15px;
    padding: 15px;
    margin-top: 40px;
    margin-bottom: 0;
}


/* Testing */